@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-weight: 400px;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1{
    background-image: url("../img_cv/city.jpg");
    min-height: 100%;
}

.pimg2{
    background-image: url("../img_cv/white.jpg");
    min-height: 200px;
}

.pimg3{
    background-image: url("../img_cv/white.jpg");
    min-height: 200px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #fff;
    color:#666;
}

.section-light p{
    color:#999;
}

.section-dark{
    background-color: #fff;
    color:#666;
    margin: 0;
    padding: 0;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform:uppercase;
}

.pimg1 p{
    font-size: 16px;
}

.section1 img{
    margin: 0;
    padding: 0;
}

.section1 p{
    color: #999;
}

.section2 img{
    padding: 20px;
}

.section2 p{
    color: #999;
}

.section3 img{
    padding: 30px;
}

.section3 p{
    color: #999;
}

.para1{
    margin: 0;
    padding: 0;
}

.para1 h3{
    margin: 0;
    padding: 0;
}